nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #eee;
    padding: 10px 0px;

  }
  .loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    text-decoration: none;
  }

  .logo {
    color: white;
    text-decoration: none;
  }

  .logoutBox{
    position: absolute;
    right: -4px;
    background: #535252;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 13px;

  }
  .logoutContainer{
    position: relative;
    cursor: pointer;
  }
  .logoutText:hover {
    text-decoration: underline;
    }