nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #2F3C7E;
  padding: 10px 0px;
}
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.logo {
  color: #2F3C7E;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

.logoutBox {
  position: absolute;
  right: 10%;
  top:12%;
  background: #998e8e;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 13px;
}

.logoutContainer {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.logoutText:hover {
  text-decoration: underline;
}
.navLinks {
  display: flex;
  align-items: center;
  column-gap: 7px;

}

.navLinks a{
  color: #2F3C7E;
  text-decoration:none;
  font-weight: bold;
}
.navLinks .productsNav a .active {
  text-decoration:underline;
}

.logoutContainer .userBtn{
  position:relative
}

.cartCount{ 
  display: flex;
  position: absolute;
  top: -15px;
  right: -10px; 
  background: #f7c59c;
  width: 20px;
  height: 20px;
  padding: 1px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 50%;
}

.cartIcon{
  position: relative;
}