.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
    gap: 10px;

}
.product{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: space-between;
    color: black;
    background-color: #c9bebe;
    border: 2px solid #2F3C7E;
    padding: 10px;
    border-radius: 12px;
}
.productImage{
    border-radius: 8px;
}